<div>
    <button routerLink="dodajCzlonka">DODAJ CZŁONKA</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>idCzlonka</th>
        <th>idPelnionejFunkcji</th>
        <th>idCzlonekZespol</th>
        <th>kierunekStudiow</th>
        <th>nrTelefonu</th>
        <th>mail</th>
        <th>nazwisko</th>
        <th>imie</th>
        <th>uczelnia</th>
        <th>wydzial</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr
        *ngFor="let osoba of osoby; let i = index"
        [app-osoba-wiersz]="osoba"
        [lp]="i + 1"
      ></tr> -->
    </tbody>
  </table>