<!-- <form [formGroup]="form" class="formularz" (submit)="onSubmit()"> -->
<form [formGroup]="formProjekt" class="formularz" >
    <div [ngClass]="{ 'error': !isValid('idZespolu')}">
        <label>
            ID Zespołu do którego przypisać projekt:
        </label>
        <input type="number" name="idZespolu" formControlName="idZespolu">
    </div>
    <div [ngClass]="{ 'error': !isValid('nazwa')}">
        <label>
            Nazwa
        </label>
        <input type="text" name="nazwa" formControlName="nazwa">
    </div>
    <div>
        <label>
            Termin realizacji
        </label>
        <input type="date" name="terminRealizacji" formControlName="terminRealizacji">
    </div>
    <div>
        <label>
            Opis
        </label>
        <input type="text" name="opis" formControlName="opis">
    </div>


    <button [disabled]="!formProjekt.valid" type="submit">Dodaj</button>
</form>
